body {
  font-family: "Montserrat";
  text-align: center;
}

h2, h3 {
  font-family: "Montserrat";
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

/* Headings */
.big-heading {
  color: white;
  font-family: "Montserrat";
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

#title {
  text-align: left;
}

/* Sections */

.colored-section{
  background-color: #ff4c68;
  color: white;
}


.white-section{
  background-color: #fff;
}

/* Containers */

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */
.icon-color {
  color: #ef8172;
  font-size: 4rem;
}

.icon-color:hover {
  color: #ff4c68;
  font-size: 4rem;
}

.feature-box {
  padding: 5%;
}

.feature-title {
  font-size: 1.4rem;
  margin-top: 15px;
}

#features {
  padding: 7% 15%;
  position: relative;
}

.features-para {
  font-family: "Montserrat";
  font-weight: 500;
  color: #8f8f8f;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
}

.testomnial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testomnial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Press Section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.carousel-item {
  padding: 7% 15%;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-heading {
  font-size: 1.4rem;
  margin-top: 15px;
}

/* CTA Section*/
#cta {
  padding: 7% 15%;
}

/* Footer Section */
#footer {
  padding: 7% 15%;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    width: 60%;
    transform: rotate(0deg);
    position: static;
    right: 30%;
  }
}
